<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meow.matchtap">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kube2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameWindow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rules"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Win"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>